[submodule "plugins/fzf.kak"]
	path = plugins/fzf.kak
	url = https://github.com/andreyorst/fzf.kak
[submodule "plugins/auto-pairs.kak"]
	path = plugins/auto-pairs.kak
	url = https://github.com/alexherbo2/auto-pairs.kak
[submodule "plugins/smarttab.kak"]
	path = plugins/smarttab.kak
	url = https://github.com/andreyorst/smarttab.kak
[submodule "plugins/kaktree"]
	path = plugins/kaktree
	url = https://github.com/andreyorst/kaktree
[submodule "plugins/plug.kak"]
	path = plugins/plug.kak
	url = https://github.com/andreyorst/plug.kak
[submodule "plugins/kakoune-wiki"]
	path = plugins/kakoune-wiki
	url = git@github.com:TeddyDD/kakoune-wiki.git
[submodule "plugins/kakoune-plain"]
	path = plugins/kakoune-plain
	url = git@github.com:zkmrgirish/kakoune-plain.git
[submodule "plugins/kak-todo"]
	path = plugins/kak-todo
	url = git@github.com:zkmrgirish/kak-todo.git
